.google-map {
  position: relative;

  iframe {
    position: relative;
    display: block;
    border: none;
    height: 570px;
    width: 100%;
    mix-blend-mode: luminosity;
    @media (max-width: 991px) {
      height: 440px;
    }
  }

  &__contact {
    overflow: hidden;
    background-color: $agrofa-gray;
  }
}

.contact-map {
  position: relative;
  padding-bottom: 120px;

  @media (max-width: 991px) {
    padding-bottom: 68px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}